/* h1{
    color: red;
    font-size: 50px;
}

h4{
    background-color: yellow;
}

.heading{
    color: blue;
}

#myButton{
    background-color: green;
    color: white;
    font-size: 20px;
} */

.box{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 200px;
    display: inline-block;
    background-color: aqua;
}